@using UnAventon.Models
@{
    ViewBag.Title = "_ListadoAutos";
}
<link href="~/Content/dataTables.bootstrap4.css" rel="stylesheet" />
<div class="dataTables_wrapper" style="margin-left:2em; margin-right:2em">
    @if (ViewBag.ViajesUsuario != null )
    {
        <table id="tablaViajes" class="table table-striped table-bordered dataTable no-footer" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Fecha Viaje </th>
                    <th>Conductor </th>
                    <th>Auto </th>
                    <th>Duracion </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Viajes viaje in ViewBag.ViajesUsuario)
                {
                    <tr>
                        <td>@string.Format("{0: dd/MM/yyyy HH:mm}", viaje.FechaViaje)</td>
                        <td>@viaje.Conductor.Nombre @viaje.Conductor.Apellido (@viaje.Conductor.PReputacion)</td>
                        <td>@viaje.Auto.Marca - @viaje.Auto.Modelo</td>
                        <td>@viaje.Duracion min</td>
                        <td><span style="cursor:pointer" class="glyphicon glyphicon-check" onclick="verDetalleViaje(@viaje.Id)"></span></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>No hay resultados</h3>
    }
</div>


