@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/datatables.js"></script>*@
@*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet"/>*@
<link href="~/Content/daterangepicker.css" rel="stylesheet" />
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="~/Content/jquery.loadingModal.css" rel="stylesheet" />
<link href="~/Content/dataTables.bootstrap4.css" rel="stylesheet" />

@using UnAventon.Models
@model Usuarios
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Buscar Viajes";
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group col-lg-3">
            <label class="control-label" style="margin-right:2em">Origen</label>
            <span class="select2-container" style="margin-right:2em">
                <select id="origenX" class="col-md-3 select2-selection--single" aria-hidden="true" style="width:100%">
                    @foreach (Localidades localidadOrigen in (IList<Localidades>)Session["Localidades"])
                    {
                        <option value="@localidadOrigen.Id"> @localidadOrigen.Partido.Nombre - @localidadOrigen.Nombre</option>
                    }
                </select>
            </span>
        </div>
        <div class="form-group col-lg-3">
            <label class-label" style="margin-right:2em">Destino</label>
            <div class="select2-container" style="margin-right:2em">
                <select id="destinoX" class="col-md-3 select2-selection--single" aria-hidden="true" style="width:100%">
                    @foreach (Localidades localidadOrigen in (IList<Localidades>)Session["Localidades"])
                    {
                        <option value="@localidadOrigen.Id"> @localidadOrigen.Partido.Nombre - @localidadOrigen.Nombre</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-inline col-lg-3" style="display:flex">
            <label style="margin-right:2em; display:inline-block">Fecha del Viaje</label>
            <span class="input-group">
                <input type="text" id="textFechaViajeX" class="form-control" style="margin-right:2em">
            </span>
        </div>
        <div class="form-inline col-lg-1" style="display:inline-block">
            <button class="navbar-btn btn btn-primary btn-lg roundNavBar" style="color:aliceblue; float:right" onclick="buscar()">Buscar</button>
        </div>
    </div>
    <div class="panel-body">
        <div id="resultadoBusqueda">
            @Html.Partial("_ListadoViajesBusqueda")
        </div>
    </div>
    @Html.Hidden("fechaDesde")
    @Html.Hidden("fechaHasta")

</div>
@section Scripts{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/swal.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
    <script src="~/Scripts/jquery.loadingModal.js"></script>
    <script src="~/Content/select2/select2.js"></script>
    <script src="~/Scripts/jquery.loadingModal.js"></script>
    <script src="~/Scripts/datatables.js"></script>
    <script>
    $(document).ready(function(){
            var today = new Date();
            var maxDate = new Date();
            maxDate.setDate(maxDate.getDate() + 30);
        $("#tablaViajesBusqueda").DataTable({
                "searching": false,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ elementos por pagina",
                    "zeroRecords": "Nada encontrado",
                    "info": "Mostrando pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros.",
                    "infoFiltered": "(filtrado de _MAX_ elementos)"
                }
            });

            $('#textFechaViajeX').daterangepicker({
                opens: 'left',
                minDate: today,
                maxDate: maxDate,
                locale: {
                    format: "DD/MM/YYYY",
                    daysOfWeek: [
                        "Dom",
                        "Lun",
                        "Mar",
                        "Mie",
                        "Jue",
                        "Vie",
                        "Sab"
                    ],
                    monthNames: [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                    ]
                }

            },
                function (start, end, label) {
                    $("#fechaDesde").val(start.format("DD/MM/YYYY"));
                    $("#fechaHasta").val(end.format("DD/MM/YYYY"));
                }
        );
        $("#fechaDesde").val(moment().format("DD/MM/YYYY"));
        $("#fechaHasta").val(moment().format("DD/MM/YYYY"));
            $("#origenX").select2({
                width: 'resolve',
            });
            $("#destinoX").select2({
                width: 'resolve',
            });
    });
        function buscar(){
            $.ajax({
                    url: '@Url.Action("BuscarViajes","Busqueda")',
                    data: {
                        fechaDesde: $("#fechaDesde").val(),
                        fechaHasta: $("#fechaHasta").val(),
                        idOrigen: $("#origenX").val(),
                        idDestino: $("#destinoX").val(),
                    },
                    beforeSend: function (xhr) {
                        //Template de loading
                        Loading();
                    },
                    success: function (data) {
                        $("body").loadingModal('hide');
                        $("#resultadoBusqueda").html(data);
                    }

            });
        }
        function verDetalleViaje(idViaje){
            window.location.href = '@Url.Action("DetalleViaje", "Viaje")?idViaje=' + idViaje;
        }

    </script>
}