<link href="~/Content/sweetalert.css" rel="stylesheet" />
<link href="~/Content/jquery.loadingModal.css" rel="stylesheet" />
<link href="~/Content/datetimepicker/datetimepicker.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#1093f2">
        <a class="navbar-brand custom" style="color:white; font-family:'Comic Sans MS'; font-weight:bold" href="~/Home/Index"><span><img height="60px" src="~/Content/UALogo.png" />UnAventon</span></a>
        <div class="navbar-header">
        </div>
        <div class="navbar-collapse collapse">
            @*Botones de la barra de navegacion*@
            <ul class="nav navbar-nav navbar-left">
                <li style="margin-left: 700px">
                    <button class="navbar-btn btn btn-primary btn-lg roundNavBar" style="color:aliceblue" href="#">Buscar Viajes</button>
                </li>
                <li>
                    <button type="button" class="navbar-btn btn btn-primary btn-lg roundNavBar" style="color:aliceblue" onclick="GoToNuevoViaje()" href="">Crear Viaje</button>
                </li>
                <li>
                    <button class="navbar-btn btn btn-primary btn-lg roundNavBar" style="color:aliceblue" href="#">Quienes Somos?</button>
                </li>
                <li>
                    <button class="navbar-btn btn btn-primary btn-lg roundNavBar" style="color:aliceblue" href="#">Contacto</button>
                </li>

            </ul>
            @*Dropdown toggle, permite algunas opciones de menu para loguearse o para el usuario logueado*@
            @if (Session["UsuarioLogueado"] == null)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><p style="color:aliceblue; font-size: large;padding-top: 5px;">Login</p></a>
                        <ul id="login-dp" class="dropdown-menu" style="background-color:#c3c3c3; width:20em">
                            <li>
                                <div class="col-md-12">
                                    <div class="input-group" style="margin-bottom:10px">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                                    </div>
                                    <div class="input-group" style="margin-bottom:10px">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <button id="loginBtn" type="button" onclick="iniciarSesion()" class="btn btn-primary btn-block">Ingresar</button>
                                    </div>
                                </div>
                                <div class="bottom text-center">
                                    No tenes cuenta? <a onclick="registro()" href="#"><b>Registrate</b></a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:aliceblue; font-size: large;padding-top: 5px;">@Session["UsuarioLogueadoNombre"] <img src="~/Content/Avatars/ob_bb2ed3_forum-avatar-37.gif" style="width:50px" /></a>
                        <ul id="login-dp" class="dropdown-menu" style="background-color:#c3c3c3; width:5em">
                            <li style="margin-bottom:5px">
                                <div class="text-center">
                                    <button id="miPerfil" type="button" onclick="miPerfil()" class="btn btn-primary btn-block" style="font-size:larger">Mi Perfil</button>
                                </div>
                            </li>
                            <li>
                                <div class="bottom text-center">
                                    <a onclick="cerrarSesion()" href="#"><b>Cerrar Sesion</b></a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            }

        </div>
    </div>
    <div class="body-content" style="margin-top:5em; padding-left:10em; padding-right:10em">
        @RenderBody()
    </div>


</body>
</html>
@Html.Partial("_RegistroUsuario")
@Html.Partial("_NuevoViaje")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("Scripts", required: false)


<script src="~/Scripts/swal.js"></script>
<script src="~/Scripts/jquery.loadingModal.js"></script>
<script src="~/Content/select2/select2.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Content/datetimepicker/datetimepicker.js"></script>

<script>
    $(document).ready(function () {
        $('#fechaDeViaje').datetimepicker();
        $("#autos").select2({
            width: 'resolve'
        });
        $("#origen").select2({
            width: 'resolve'
        });
        $("#destino").select2({
            width: 'resolve'
        });
        $("#tipoDeViaje").select2({
            width: 'resolve',
            minimumResultsForSearch: -1
        });
        $("#duracionPeriodico").select2({
            width: 'resolve',
            minimumResultsForSearch: -1
        });
        //Deshabilita el boton si no los capos no estan escritos
        $('#loginBtn').attr('disabled', true);
        $('#password').keyup(function () {
            if ($(this).val().length != 0 && $("#email").val().length != 0)
                $('#loginBtn').attr('disabled', false);
            else
                $('#loginBtn').attr('disabled', true);
        });
        $('#email').keyup(function () {
            if ($(this).val().length != 0 && $("#password").val().length != 0)
                $('#loginBtn').attr('disabled', false);
            else
                $('#loginBtn').attr('disabled', true);
        });
        //Evita que el dropdown se cierre al tocar un boton
        $('.dropdown-menu').click(function (e) {
            e.stopPropagation();
        });
    });

    function miPerfil() {
        Loading();
        window.location = '@Url.Action("MiPerfil","Usuario")';
    }

    //Inicia sesion
    function iniciarSesion() {
        $.ajax({
            url: '@Url.Action("Login","Home")',
            data: {
                email: $("#email").val(),
                password: $("#password").val()
            },
            beforeSend: function (xhr) {
                //Template de loading
                Loading();
            },
            success: function (data) {
                if (data.mensaje == "") {
                    $("#email").val("");
                    $("#password").val("");
                    window.location = '@Url.Action("Index","Home")';
                }
                else {
                    $("body").loadingModal('hide');
                    $("#email").val("");
                    $("#password").val("");
                    swal({
                        title: "",
                        text: data.mensaje,
                        type: 'error',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        closeOnConfirm: true
                    })
                }

            }
        });
    }
    //Registro de usuario
    function registro() {
        //modal de registro
        $("#modalRegistro").modal();
    }
    //Cerrar sesion
    function cerrarSesion() {
        Loading();
        window.location = '@Url.Action("Logout","Home")';
    }

    //Metodo que llama al template de loading
    function Loading() {
        $('body').loadingModal({
	      position: 'auto',
	      text: '',
	      color: '#fff',
	      opacity: '0.7',
	      backgroundColor: 'rgb(0,0,0)',
	      animation: 'doubleBounce'
        });
    }
    function SiValidaFecha(fecha) {
        var regex = /^(((0[1 - 9] | [12]\d|3[01])\/(0[13578]|1[02])\/((19|[2-9]\d)\d{2}))|((0[1-9]|[12]\d|30)\/(0[13456789]|1[012])\/((19|[2-9]\d)\d{2}))|((0[1-9]|1\d|2[0-8])\/02\/((19|[2-9]\d)\d{2}))|(29\/02\/((1[6-9]|[2-9]\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))$/;
        return regex.test(fecha);
    }
    function SiValidaCampos() {
        if ($("#nombre").val() == "" || $("#apellido").val() == "" || $("#fechaNacimiento").val() == "" || $("#emailNuevoUsuario").val() == "" || $("#passwordNuevoUsuario").val() == "" || $("#confirmarPassword").val() == "") {
            return false;
        }
        return true;
    }
    function registrarNuevoUsuario() {
        if (!SiValidaCampos()) {
            swal({
                title:"",
                text: "Todos los campos son obligatorios.",
                type: "error",
                showCancelButton: false,
                confirmButtonText: 'Aceptar'
            })
        }
        else if (!SiValidaFecha($("#fechaNacimiento").val())) {
            swal({
                title: "",
                text: "La fecha ingresada no es valida. El formato es dd/MM/aaaa.",
                type: "error",
                showCancelButton: false,
                confirmButtonText: 'Aceptar',
                closeOnConfirm: true
            })
        }
        else if ($("#confirmarPassword").val() != $("#passwordNuevoUsuario").val()) {
            $("#confirmarPassword").val("");
            $("#passwordNuevoUsuario").val("");
            swal({
                title: "",
                text: "Las contraseñas no coinciden",
                type: "error",
                showCancelButton: false,
                confirmButtonText: 'Aceptar',
                closeOnConfirm: true
            })
        }
        else {
            $.ajax({
            url: '@Url.Action("RegistrarUsuario","Home")',
            data: {
                nombre: $("#nombre").val(),
                apellido: $("#apellido").val(),
                fechaNacimiento: $("#fechaNacimiento").val(),
                email: $("#emailNuevoUsuario").val(),
                password: $("#passwordNuevoUsuario").val(),
                confirmarPassword: $("#confirmarPassword").val(),
                },
                beforeSend: function (xhr) {
                    Loading();
                },
                success: function (data) {
                    //$("#modalRegistro").modal("hide");
                    $("body").loadingModal("hide");
                    if (data.mensaje == "") {
                        window.location = '@Url.Action("LoginRegistro","Home")' + "?email=" + $("#emailNuevoUsuario").val() + "&password=" + $("#passwordNuevoUsuario").val();

                }
                else {
                    swal({
                        title: "",
                        text: data.mensaje,
                        type: 'error',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        closeOnConfirm: true
                    })
                }

             }
            });
        }
    }
    function GoToNuevoViaje() {
        if ('@Session["UsuarioLogueado"]' != ''){
            $("#nuevoViaje").modal();
        }
        else {
            swal({
                title: "",
                text: "Debes ser un usuario logueado para acceder a esta opcion.",
                type: 'warning',
                showCancelButton: false,
                confirmButtonText: 'Aceptar',
                closeOnConfirm: true
            })

        }

    }

    function guardarViaje() {
             $.ajax({
                url: '@Url.Action("GuardarViaje","Viaje")',
                data: {
                    tipo: $("#tipoDeViaje").val(),
                    origen: $("#origen").val(),
                    destino: $("#destino").val(),
                    auto: $("#autos").val(),
                    duracion: $("#duracion").val(),
                    costo: $("#costo").val()
                },
                beforeSend: function (xhr) {
                    //Template de loading
                    Loading();
                },
                success: function (data) {
                    $("body").loadingModal('hide');
                    if (data.mensaje == "") {
                        swal({
                            title: "",
                            text: "El viaje ha sido guardado con exito.",
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: false
                        },
                            function (isConfirm) {
                                if (isConfirm) {
                                    window.location.reload();
                                }
                            }
                        )
                    }
                    else {
                        swal({
                            title: "",
                            text: data.mensaje,
                            type: 'error',
                            showCancelButton: false,
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true
                        })
                    }

                }
            });

    }

    $("#tipoDeViaje").on("change", function () {
        if ($("#tipoDeViaje").val() == '0') {
            $("#formDuracionPeriodico").show();
        }
        else {
            $("#formDuracionPeriodico").hide();
        }
    });

</script>