<script src="~/Scripts/swal.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#1093f2">
        <a class="navbar-brand custom" style="color:white; font-family:'Comic Sans MS'; font-weight:bold" href=""><img height="60px" src="~/Content/UALogo.png" />UnAventon</a>

        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li style="margin-left: 700px">
                    <button class="navbar-btn btn btn-primary btn-lg roundNavBar" style="color:aliceblue" href="#">Buscar Viajes</button>
                </li>
                <li>
                    <button class="navbar-btn btn btn-primary btn-lg roundNavBar" style="color:aliceblue" href="#">Quienes Somos?</button>
                </li>
                <li>
                    <button class="navbar-btn btn btn-primary btn-lg roundNavBar" style="color:aliceblue" href="#">Contacto</button>
                </li>

            </ul>
            @if (Session["UsuarioLogueado"] == null)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><p style="color:aliceblue; font-size: large;padding-top: 5px;">Login</p></a>
                        <ul id="login-dp" class="dropdown-menu" style="background-color:#808080">
                            <li>
                                <div class="col-md-12">

                                    <div class="input-group" style="margin-bottom:10px">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                                    </div>
                                    <div class="input-group" style="margin-bottom:10px">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <button id="loginBtn" type="button" onclick="iniciarSesion()" class="btn btn-primary btn-block">Ingresar</button>
                                    </div>
                                </div>
                                <div class="bottom text-center">
                                    No tenes cuenta? <a onclick="registro()" href="#"><b>Registrate</b></a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            }

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Un Aventón</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
@Html.Partial("_RegistroUsuario")
<script>
    $(document).ready(function () {
        $('#loginBtn').attr('disabled', true);
        $('#password').keyup(function () {
            if ($(this).val().length != 0 && $("#email").val().length != 0)
                $('#loginBtn').attr('disabled', false);
            else
                $('#loginBtn').attr('disabled', true);
        });
        $('#email').keyup(function () {
            if ($(this).val().length != 0 && $("#password").val().length != 0)
                $('#loginBtn').attr('disabled', false);
            else
                $('#loginBtn').attr('disabled', true);
        });
    });

    $('.dropdown-menu').click(function (e) {
        e.stopPropagation();
    });

    function iniciarSesion() {
        $.ajax({
            url: '@Url.Action("Login","Home")',
            data: {
                email: $("#email").val(),
                password: $("#password").val()
            },
            success: function (data) {
                if (data.mensaje == "") {
                    window.location = '@Url.Action("Login","Home")';
                }
                else {
                    Swal({
                        text: data.mensaje,
                        type: 'error',
                        showCancelButton: true,
                        confirmButtonText: 'Aceptar',
                        closeOnConfirm: true
                    })
                }

            }
        });
    }
    function registro() {
        $("#modalRegistro").modal();
    }


</script>