@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/datatables.js"></script>*@
@*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet"/>*@
<link href="~/Content/jquery.loadingModal.css" rel="stylesheet" />
<link href="~/Content/dataTables.bootstrap4.css" rel="stylesheet" />

@using UnAventon.Models
@model Usuarios
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mi Perfil";
}

<div class="panel panel-default">
    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active" style="background-color:white"><a href="#step1" data-toggle="tab" aria-expanded="true" style="font-size:x-large"><i class="glyphicon glyphicon-user"></i> Mis Datos</a></li>
            <li class="" style="background-color:white"><a href="#step2" data-toggle="tab" aria-expanded="true" style="font-size:x-large"><i class="glyphicon glyphicon-list"></i> Mis Autos</a></li>
            <li class="" style="background-color:white"><a href="#step3" data-toggle="tab" aria-expanded="true" style="font-size:x-large"><i class="glyphicon glyphicon-list"></i> Mis Viajes</a></li>
            <li class="" style="background-color:white"><a href="#step4" data-toggle="tab" aria-expanded="true" style="font-size:x-large"><i class="glyphicon glyphicon-wrench"></i> Opciones</a></li>
        </ul>
        <div class="tab-content clearfix" style="margin-top:2em">
            <div class="tab-pane fade active in" id="step1">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <img src="~/Content/Avatars/ob_bb2ed3_forum-avatar-37.gif" width="200px" style="float:right" />

                        </div>
                        <div class="col-xs-6">
                            <p style="font-size:x-large"><label>Nombre:</label> @Model.Nombre</p>
                            <p style="font-size:x-large"><label>Apellido:</label> @Model.Apellido</p>
                            <p style="font-size:x-large"><label>Email:</label> @Model.Email</p>
                            <p style="font-size:x-large"><label>Fecha de Nacimiento:</label> @string.Format("{0:dd/MM/yyyy}", Model.FNacimiento)</p>
                            <p>
                                <img src="~/Content/Icons/star.png" width="50px" /> <b style="font-size:x-large">@Model.CReputacion</b>
                                <img src="~/Content/Icons/icon.png" width="50px" style="margin-left:30px" /> <b style="font-size:x-large">@Model.PReputacion</b>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="step2">
                @Html.Partial("_ListadoAutos")
            </div>
            <div class="tab-pane fade" id="step3">
                @Html.Partial("_ListadoViajes")
            </div>
            <div class="tab-pane fade" id="step4">
                <div class="container">
                    <div class="row">
                        <button class="navbar-btn btn btn-primary btn-lg roundNavBar" style="color:aliceblue; float:left" onclick="CerrarCuenta()">Eliminar Cuenta</button>

                        <button class="navbar-btn btn btn-primary btn-lg roundNavBar" style="color:aliceblue; float:left" onclick="CambiarContraseña()">Cambiar Contraseña</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("IdAutoSeleccionado")
@Html.Partial("_NuevoAuto")
@Html.Partial("_EditarAuto")
@Html.Partial("_CerrarCuenta")
@Html.Partial("_CambiarConstraseña")
@section Scripts{
    <script src="~/Scripts/jquery.loadingModal.js"></script>
    <script src="~/Scripts/datatables.js"></script>
    <script>
    $(document).ready(function () {
        $("#tablaViajes").DataTable({
            "searching": false,
            "language": {
                "lengthMenu": "Mostrar _MENU_ elementos por pagina",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando pagina _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros.",
                "infoFiltered": "(filtrado de _MAX_ elementos)"
            },
            "aoColumnDefs": [
                { aTargets: [4], bSortable: false },
            ]
        });
        $("#tablaAutos").DataTable({
            "searching": false,
            "language": {
                "lengthMenu": "Mostrar _MENU_ elementos por pagina",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando pagina _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros.",
                "infoFiltered": "(filtrado de _MAX_ elementos)"
            },
            "aoColumnDefs": [
                { aTargets: [4], bSortable: false },
            ]
        });
    });

    function CerrarCuenta() {
        $("#modalCerrarCuenta").modal();
        }
        function CambiarConstreña() {
            $("#modalCambiarConstraseña").modal();
        }
    function confirmarCierre() {
        swal({
            title: "",
            text: "Esta seguro que quiere eliminar su cuenta?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Aceptar',
            closeOnConfirm: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                    url: '@Url.Action("CerrarCuenta","Usuario")',
                    data: {
                        contraseña: $("#contraseñaCerrar").val()
                    },
                    beforeSend: function (xhr) {
                        //Template de loading
                        Loading();
                    },
                    success: function (data) {
                        if (data.mensaje == ""){
                            $("body").loadingModal('hide');
                            window.location.href = "@Url.Action("Index", "Home")"
                        }
                        else {
                            $("#modalCerrarCuenta").modal("hide");
                            $("body").loadingModal('hide');
                            swal({
                                title: "",
                                text: data.mensaje,
                                type: 'error',
                                showCancelButton: false,
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true
                            })
                        }

                    }
                    });
                }
            }
        );
    }
    function editarAuto(marca, modelo, patente, asientos, idAuto) {
        $("#modalAutoEditar").modal();
        $("#marcaEditar").val(marca);
        $("#modeloEditar").val(modelo);
        $("#patenteEditar").val(patente);
        $("#asientosEditar").val(asientos);
        $("#IdAutoSeleccionado").val(idAuto);
    }
    function nuevoAuto() {
        $("#modalAuto").modal();
        }
        function guardarAutoEditar() {
            if (!SiValidaAsientos($("#asientosEditar").val())) {
                swal({
                    title: "",
                    text: "Especifique la cantidad de asientos en numeros.",
                    type: "error",
                    showCancelButton: false,
                    confirmButtonText: 'Aceptar'
                })
            }
            else{
                $.ajax({
                    url: '@Url.Action("EditarAuto","Usuario")',
                    data: {
                        marca: $("#marcaEditar").val(),
                        modelo: $("#modeloEditar").val(),
                        patente: $("#patenteEditar").val(),
                        asientos: $("#asientosEditar").val(),
                        idAuto: $("#IdAutoSeleccionado").val()
                    },
                    beforeSend: function (xhr) {
                        //Template de loading
                        Loading();
                    },
                    success: function (data) {
                        if (data.mensaje == "") {
                            $("body").loadingModal('hide');
                            $("#modalAuto").modal("hide");
                            $("#marca").val("");
                            $("#modelo").val("");
                            $("#patente").val("");
                            $("#asientos").val("");
                            swal({
                                title: "",
                                text: "El auto ha sido editado con exito.",
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: false
                            },
                                function () {
                                    window.location.reload();
                                }
                            )
                        }
                        else {
                            $("#modalAuto").modal("hide");
                            $("body").loadingModal('hide');
                            $("#email").val("");
                            $("#password").val("");
                            swal({
                                title: "",
                                text: data.mensaje,
                                type: 'error',
                                showCancelButton: false,
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true
                            })
                        }

                    }
                });
            }

        }

        function SiValidaAsientos(asientos) {
            var regex = /^[+]?\d+([.]\d+)?$/;
            return regex.test(asientos);
        }

        function SiValidaCampos() {
            debugger;
            if ($("#marca").val() == "" || $("#modelo").val() == "" || $("#patente").val() == "" || $("#asientos").val() == "") {
                return false;
            }
            else {
                return true;
            }
        }
        function SiValidaCamposEditar() {
            if ($("#marcaEditar").val() == "" || $("#modeloEditar").val() == "" || $("#patenteEditar").val() == "" || $("#asientosEditar").val() == "") {
                return false;
            }
            else {
                return true;
            }

        }
        function guardarAuto() {
            if (!SiValidaAsientos($("#asientos").val())) {
                swal({
                    title: "",
                    text: "Especifique la cantidad de asientos en numeros.",
                    type: "error",
                    showCancelButton: false,
                    confirmButtonText: 'Aceptar'
                })
            }
            else{
                $.ajax({
                url: '@Url.Action("GuardarAuto","Usuario")',
                data: {
                marca: $("#marca").val(),
                modelo: $("#modelo").val(),
                patente: $("#patente").val(),
                asientos: $("#asientos").val(),
                idUsuario: @Model.Id
            },
            beforeSend: function (xhr) {
                //Template de loading
                Loading();
            },
            success: function (data) {
                if (data.mensaje == "") {
                    $("body").loadingModal('hide');
                    $("#modalAuto").modal("hide");
                    $("#marca").val("");
                    $("#modelo").val("");
                    $("#patente").val("");
                    $("#asientos").val("");
                    swal({
                        title: "",
                        text: "El auto ha sido guardado con exito.",
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        closeOnConfirm: false
                    },
                        function (isConfirm) {
                            if (isConfirm) {
                                window.location.reload();
                            }
                        }
                    )
                }
                else {
                    $("#modalAuto").modal("hide");
                    $("body").loadingModal('hide');
                    $("#email").val("");
                    $("#password").val("");
                    swal({
                        title: "",
                        text: data.mensaje,
                        type: 'error',
                        showCancelButton: false,
                        confirmButtonText: 'Aceptar',
                        closeOnConfirm: true
                    })
                }

            }
            });
            }

        }

    function borrarAuto(id)
    {
        swal({
            title: "",
            text: "Desea eliminar el auto?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Aceptar',
            closeOnConfirm: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                    url: '@Url.Action("BorrarAuto","Usuario")',
                    data: {
                        id: id,
                    },
                    beforeSend: function (xhr) {
                        //Template de loading
                        Loading();
                    },
                    success: function (data) {
                        if (data.mensaje == ""){
                            $("body").loadingModal('hide');
                            swal({
                                title: "",
                                text: "El auto ha sido eliminado.",
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: false
                            },
                                function (isConfirm) {
                                    if (isConfirm) {
                                        window.location.reload();
                                    }
                                }
                            )
                        }
                        else {
                            $("#modalAuto").modal("hide");
                            $("body").loadingModal('hide');
                            $("#email").val("");
                            $("#password").val("");
                            swal({
                                title: "",
                                text: data.mensaje,
                                type: 'error',
                                showCancelButton: false,
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true
                            })
                        }

                    }
                    });
                }
            }
        );

        }
        function verDetalleViaje(idViaje){
            window.location.href = '@Url.Action("DetalleViaje", "Viaje")?idViaje=' + idViaje;
        }
    </script>
}

