@using UnAventon.Models
@model UnAventon.Models.Viajes
@*<link href="~/Content/select2.css" rel="stylesheet" />*@
<link href="~/Content/datetimepicker/datetimepicker.css" rel="stylesheet" />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NuevoViaje";
}

<h2>Detalle de Viaje</h2>
@if (ViewBag.Pagar != null)
{
    if (ViewBag.Pagar == true)
    {
        <h3>Aceptado</h3>
    }
    else
    {
        <h3>Rechazado</h3>
    }
}

<div class="row">
    @if (ViewBag.ConductorDelViaje != null)
    {
        <button class="navbar-btn btn btn-primary btn-lg roundNavBar" style="color:aliceblue; float:right" onclick="GoToEditarViaje()">Modificar Viaje</button>
        <button class="navbar-btn btn btn-primary btn-lg roundNavBar" style="color:aliceblue; float:right" onclick="EliminarViaje()">Eliminar Viaje</button>
    }
    else
    {
            if (!(Model.Pasajeros.Where(x => x.Estado.Equals("Aceptado")).Count() == Model.Auto.Asientos))
        {
            if (ViewBag.Postular != null)
            {
                <button class="navbar-btn btn btn-primary btn-lg roundNavBar" style="color:aliceblue; float:right" onclick="postularse()">Postularse al viaje</button>
            }
        }
        if (ViewBag.Pagar != null)
        {
            <button class="navbar-btn btn btn-primary btn-lg roundNavBar" style="color:aliceblue; float:right" onclick="">Pagar</button>
        }
    }

</div>

<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Informacion del Viaje</h3>
            </div>
            <div class="panel-body">
                <div class="form">
                    <div class="form-group col-lg-12">
                        <div class="input-group" style="display:inline-flex">
                            <label class="cols-lg-12 control-label" style="margin-right:2em;background: lightgray;font-size: x-large;padding-left: 0.5em;padding-right: 0.5em">Origen: </label>
                            <label class="cols-lg-12" style="font-size: x-large">@Model.Origen.Nombre</label>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group" style="display:inline-flex">
                            <label class="cols-lg-12 control-label" style="margin-right:2em;background: lightgray;font-size: x-large;padding-left: 0.5em;padding-right: 0.5em">Destino: </label>
                            <label class="cols-lg-12" style="font-size: x-large">@Model.Destino.Nombre</label>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group" style="display:inline-flex">
                            <label class="cols-lg-12 control-label" style="margin-right:2em;background: lightgray;font-size: x-large;padding-left: 0.5em;padding-right: 0.5em">Precio: </label>
                            <label class="cols-lg-12" style="font-size: x-large">$@Model.Precio</label>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group" style="display:inline-flex">
                            <label class="cols-lg-12 control-label" style="margin-right:2em;background: lightgray;font-size: x-large;padding-left: 0.5em;padding-right: 0.5em">Fecha de Viaje: </label>
                            <label class="cols-lg-12" style="font-size: x-large">@string.Format("{0: dd/MM/yyyy HH:mm}", Model.FechaViaje)</label>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group" style="display:inline-flex">
                            <label class="cols-lg-12 control-label" style="margin-right:2em;background: lightgray;font-size: x-large;padding-left: 0.5em;padding-right: 0.5em">Conductor: </label>
                            <label class="cols-lg-12" style="font-size: x-large">@Model.Conductor.Nombre @Model.Conductor.Apellido</label>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group" style="display:inline-flex">
                            <label class="cols-lg-12 control-label" style="margin-right:2em;background: lightgray;font-size: x-large;padding-left: 0.5em;padding-right: 0.5em">Auto: </label>
                            <label class="cols-lg-12" style="font-size: x-large">@Model.Auto.Marca - @Model.Auto.Modelo - @Model.Auto.Patente</label>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group" style="display:inline-flex">
                            <label class="cols-lg-12 control-label" style="margin-right:2em;background: lightgray;font-size: x-large;padding-left: 0.5em;padding-right: 0.5em">Asientos: </label>
                            <label class="cols-lg-12" style="font-size: x-large">@Model.Auto.Asientos</label>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="input-group" style="display:inline-flex">
                            <label class="cols-lg-12 control-label" style="margin-right:2em;background: lightgray;font-size: x-large;padding-left: 0.5em;padding-right: 0.5em">Reputacion del Conductor: </label>
                            <label class="cols-lg-12" style="font-size: x-large">@Model.CalificacionConductor</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Pasajeros</h3>
            </div>
            <div class="panel-body">
                @foreach (Pasajeros pasajero in Model.Pasajeros)
                {
                    if (!pasajero.Estado.Equals("Rechazado"))
                    {
                        <div class="form-group col-lg-12">
                            <div class="input-group" style="display:inline-flex">
                                <label class="cols-lg-12 control-label" style="margin-right:2em;background: lightgray;font-size: x-large;padding-left: 0.5em;padding-right: 0.5em">Nombre del Pasajero: </label>
                                <label class="cols-lg-12" style="font-size: x-large">@pasajero.Usuario.Nombre @pasajero.Usuario.Apellido (@pasajero.Calificacion)</label>
                                @if (ViewBag.IdUsuarioLogueado == pasajero.Usuario.Id)
                                {
                                    <button class="navbar-btn btn btn-primary btn-lg roundNavBar" style="background-color:darkred;height: 2em; margin-left:7em" onclick="retirarPostulacion(@pasajero.Id)"><p class="glyphicon glyphicon-remove-circle"></p></button>
                                }
                                else
                                {
                                    if (!pasajero.Estado.Equals("Aceptado") && ViewBag.ConductorDelViaje != null)
                                    {
                                        <button class="navbar-btn btn btn-primary btn-lg roundNavBar" style="height: 2em; margin-left:7em" onclick="AceptarPasajero(@pasajero.Id)"><p class="glyphicon glyphicon-check"></p></button>
                                        <button class="navbar-btn btn btn-primary btn-lg roundNavBar" style="background-color:darkred;height: 2em; margin-left:1em" onclick="RechazarPasajero(@pasajero.Id)"><p class="glyphicon glyphicon-remove-circle"></p></button>

                                    }
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
@Html.Partial("_EditarViaje")
@section Scripts{
    <script src="~/Content/select2/select2.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Content/datetimepicker/datetimepicker.js"></script>
    <script>

        $(document).ready(function () {
            $("#autosEditar").select2({
                width: 'resolve'
            });
            $("#origenEditar").select2({
                width: 'resolve'
            });
            $("#destinoEditar").select2({
                width: 'resolve'
            });
            $('#fechaDeViajeEditar').datetimepicker({


            });
        })
    function EliminarViaje() {
        swal({
            title: "",
            text: "Esta seguro que quiere eliminar el viaje? Puede afectar su reputacion.",
            type: 'warning',
            showCancelButton: true,
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Aceptar',
            closeOnConfirm: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: '@Url.Action("EliminarViaje","Viaje")',
                        data: {
                            idViaje: @Model.Id
                        },
                        beforeSend: function (xhr) {
                            Loading();
                        },
                        success: function (data) {
                            $("body").loadingModal("hide");
                            if (data.mensaje == "") {
                                swal({
                                    title: "",
                                    text: "El viaje ha sido eliminado con exito.",
                                    type: 'success',
                                    showCancelButton: false,
                                    confirmButtonText: 'Aceptar',
                                    closeOnConfirm: false
                                },
                                    function (isConfirm) {
                                        if (isConfirm) {
                                            window.location.href='@Url.Action("Index","Home")';
                                        }
                                    }
                                )

                            }
                            else {
                                swal({
                                    title: "",
                                    text: data.mensaje,
                                    type: 'error',
                                    showCancelButton: false,
                                    confirmButtonText: 'Aceptar',
                                    closeOnConfirm: true
                                })
                            }

                        }
                    });
                }

            }
        )
        };
    function postularse() {
        swal({
            title: "",
            text: "Esta seguro que quiere postularse al viaje?",
            type: 'warning',
            showCancelButton: true,
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Aceptar',
            closeOnConfirm: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: '@Url.Action("Postularse","Viaje")',
                        data: {
                            idViaje: @Model.Id
                        },
                        beforeSend: function (xhr) {
                            Loading();
                        },
                        success: function (data) {
                            $("body").loadingModal("hide");
                            if (data.mensaje == "") {
                                swal({
                                    title: "",
                                    text: "Te has postulado al viaje.",
                                    type: 'success',
                                    showCancelButton: false,
                                    confirmButtonText: 'Aceptar',
                                    closeOnConfirm: false
                                },
                                    function () {
                                        window.location.reload();
                                    }
                                )
                            }
                            else {
                                swal({
                                    title: "",
                                    text: data.mensaje,
                                    type: 'error',
                                    showCancelButton: false,
                                    confirmButtonText: 'Aceptar',
                                    closeOnConfirm: true
                                })
                            }

                        }
                    });
                }

            }
        )
        };

        function retirarPostulacion(idPasajero) {
        swal({
            title: "",
            text: "Esta seguro que quiere retirar la postulacion al viaje? Puede afectar tu calificacion.",
            type: 'warning',
            showCancelButton: true,
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Aceptar',
            closeOnConfirm: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: '@Url.Action("RetirarPostulacion","Viaje")',
                        data: {
                            idViaje: @Model.Id,
                            idPasajero: idPasajero
                        },
                        beforeSend: function (xhr) {
                            Loading();
                        },
                        success: function (data) {
                            $("body").loadingModal("hide");
                            if (data.mensaje == "") {
                                window.location.reload();
                            }
                            else {
                                swal({
                                    title: "",
                                    text: data.mensaje,
                                    type: 'error',
                                    showCancelButton: false,
                                    confirmButtonText: 'Aceptar',
                                    closeOnConfirm: true
                                })
                            }
                        }
                    });
                }

            }
        )
        };

        function AceptarPasajero(idPasajero) {
        swal({
            title: "",
            text: "Esta seguro que quiere aceptar al pasajero?",
            type: 'warning',
            showCancelButton: true,
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Aceptar',
            closeOnConfirm: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: '@Url.Action("AceptarPasajero","Viaje")',
                        data: {
                            idViaje: @Model.Id,
                            idPasajero: idPasajero
                        },
                        beforeSend: function (xhr) {
                            Loading();
                        },
                        success: function (data) {
                            $("body").loadingModal("hide");
                            if (data.mensaje == "") {
                                swal({
                                    title: "",
                                    text: "Tienes un nuevo pasajero!",
                                    type: 'success',
                                    showCancelButton: false,
                                    confirmButtonText: 'Aceptar',
                                    closeOnConfirm: false
                                },
                                    function () {
                                        window.location.reload();
                                    }
                                )
                            }
                            else {
                                swal({
                                    title: "",
                                    text: data.mensaje,
                                    type: 'error',
                                    showCancelButton: false,
                                    confirmButtonText: 'Aceptar',
                                    closeOnConfirm: true
                                })
                            }

                        }
                    });
                }

            }
        )
        };
    function RechazarPasajero(idPasajero) {
        swal({
            title: "",
            text: "Quieres rechazar al pasajero?",
            type: 'warning',
            showCancelButton: true,
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Aceptar',
            closeOnConfirm: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: '@Url.Action("RechazarPasajero","Viaje")',
                        data: {
                            idViaje: @Model.Id,
                            idPasajero: idPasajero
                        },
                        beforeSend: function (xhr) {
                            Loading();
                        },
                        success: function (data) {
                            $("body").loadingModal("hide");
                            if (data.mensaje == "") {
                                swal({
                                    title: "",
                                    text: "Haz rechazado al pasajero.",
                                    type: 'success',
                                    showCancelButton: false,
                                    confirmButtonText: 'Aceptar',
                                    closeOnConfirm: false
                                },
                                    function () {
                                        window.location.reload();
                                    }
                                )
                            }
                            else {
                                swal({
                                    title: "",
                                    text: data.mensaje,
                                    type: 'error',
                                    showCancelButton: false,
                                    confirmButtonText: 'Aceptar',
                                    closeOnConfirm: true
                                })
                            }

                        }
                    });
                }

            }
        )
        };
        function GoToEditarViaje() {
            $("#editarViaje").modal();
            $("#autosEditar").val(@Model.Auto.Id);
            $("#autosEditar").trigger('change');
            $("#destinoEditar").val(@Model.Destino.Id);
            $("#destinoEditar").trigger('change');
            $("#origenEditar").val(@Model.Origen.Id);
            $("#origenEditar").trigger('change');
            $("#costoEditar").val(@Model.Precio);
            $("#tipoViajeEditar").val(@Model.Periodico);
            $("#duracionEditar").val(@Model.Duracion);
            //$('#fechaDeViajeEditar').data('DateTimePicker').date("01/01/2018 12:34");
            $('#fechaDeViajeEditar').trigger('change');
            @*$("#textViajeEditarFecha").val(@Model.FechaViaje.ToShortDateString());*@
        }


        function SiSoloMoneda(campo) {
            var regex = /^\$?\-?([1-9]{1}[0-9]{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))$|^\-?\$?([1-9]{1}\d{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))$|^\(\$?([1-9]{1}\d{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))\)$/;
            return regex.test(campo);
        }
        function SiSoloNumeros(campo) {
            var regex = /^[+]?\d+([.]\d+)?$/;
            return regex.test(campo);
        }
        function SiValidaCamposViaje() {
            debugger;
            return ($("#autosEditar").val() == "" || $("#origenEditar").val() == "" || $("#destinoEditar").val() == "" || $("#duracionEditar").val() == "" || $("#textViajeEditarFecha").val() == "") 
            
        }

        function guardarViajeEditado() {
        debugger;
        if (SiValidaCamposViaje()) {
            swal({
                title: "",
                text: "Todos los campos son obligatorios.",
                type: 'error',
                showCancelButton: false,
                confirmButtonText: 'Aceptar',
                closeOnConfirm: false
            })
        }
        else if (!SiSoloNumeros($("#duracionEditar").val())) {
            swal({
                title: "",
                text: "La duración debe ser expresada en minutos.",
                type: 'error',
                showCancelButton: false,
                confirmButtonText: 'Aceptar',
                closeOnConfirm: false
            })
        }
        else if (!SiSoloMoneda($("#costoEditar").val())) {
            swal({
                title: "",
                text: "Solo se permiten digitos en el costo.",
                type: 'error',
                showCancelButton: false,
                confirmButtonText: 'Aceptar',
                closeOnConfirm: false
            })
        }
        else {

        
             $.ajax({
                url: '@Url.Action("EditarViaje","Viaje")',
                data: {
                    origen: $("#origenEditar").val(),
                    destino: $("#destinoEditar").val(),
                    auto: $("#autosEditar").val(),
                    duracion: $("#duracionEditar").val(),
                    costo: $("#costoEditar").val(),
                    fechaViaje: $("#textViajeEditarFecha").val(),
                    idViaje: @Model.Id
                },
                beforeSend: function (xhr) {
                    //Template de loading
                    Loading();
                },
                success: function (data) {
                    $("body").loadingModal('hide');
                    if (data.mensaje == "") {
                        swal({
                            title: "",
                            text: "El viaje ha sido guardado con exito.",
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: false
                        },
                            function (isConfirm) {
                                if (isConfirm) {
                                    window.location.reload();
                                }
                            }
                        )
                    }
                    else {
                        swal({
                            title: "",
                            text: data.mensaje,
                            type: 'error',
                            showCancelButton: false,
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true
                        })
                    }

                }
            });
        }

    }
    </script>
}
